---
title: Blog
---

<div class="blog-overview">
    <p>Title: {{title}}</p>
    {{#each collections.posts}}
        <div class='job'>
            <a href="/{{ this.path }}">{{ this.title }}</a>
        </div>
    {{/each}}

    {{> button}}
</div>
